<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>31 BC  </string>
		<string>ROMAN PERIOD : Roman Emperors</string>
		<string>The Roman Empire was the post-Republican period of the ancient Roman civilisation, headed by an Emperor, and large territorial holdings around Europe, Africa, the Middle East and Asia Minor.</string>
	</array>
	<array>
		<string>330  </string>
		<string>BYZANTINE PERIOD : Eastern Roman Empire</string>
		<string>The Byzantine Empire was the predominantly Greek-speaking continuation of the eastern half of the Roman Empire during Late Antiquity and the Middle Ages. Its capital city was Constantinople.</string>
	</array>
	<array>
		<string>476  </string>
		<string>MIDDLE AGES : Rise of Western Monarchies</string>
		<string>The Middle Ages is commonly considered as having lasted from the end of the Western Roman Empire until the rise of national monarchies and the economic renewal after the Black Death.</string>
	</array>
	<array>
		<string>1350 </string>
		<string>RENAISSANCE : Beginning of the Modern Age</string>
		<string>The Renaissance was a cultural movement that spanned the period roughly from the 14th to the 17th century, beginning in Italy in the Late Middle Ages and later spreading to the rest of Europe</string>
	</array>
	<array>
		<string>1600 </string>
		<string>Enlightement: The Age of Reason and Science</string>
		<string>The Age of Enlightenment was an intellectual movement in Europe. The goal of the Enlightenment was to establish an authoritative ethics, aesthetics, and knowledge based on rationality. </string>
	</array>
	<array>
		<string>1750 </string>
		<string>Industrial Revolution: Technological Innovations</string>
		<string>The Industrial Revolution was a period of the 18th century marked by social and technological change in which manufacturing began to rely on steam power, fueled primarily by coal.</string>
	</array>
</array>
</plist>
