<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>5 MYA  </string>
		<string>STONE AGE : The Human Era</string>
		<string>The Stone Age is that ancient time period during which, humans created tools from stone (for lack of better technology). </string>
	</array>
	<array>
		<string>108000 BC  </string>
		<string>ICE AGE : Extintion of Large Mammals</string>
		<string>Scientists consider this &quot;ice age&quot; to be merely the latest glaciation event in a much larger ice age, one that dates back over two million years and has seen multiple glaciations.</string>
	</array>
	<array>
		<string>10200 BC  </string>
		<string>NEOLITHIC : First Permanent Settlements</string>
		<string>Traditionally considered the last part of the Stone Age, the Neolithic period  commenced with the beginning of farming, which produced the &quot;Neolithic Revolution&quot;.</string>
	</array>
	<array>
		<string>3300 BC  </string>
		<string>BRONZE AGE : First Writing</string>
		<string>An ancient civilization is defined to be in the Bronze Age either by smelting its own copper and alloying with tin, or by trading for bronze from production areas elsewhere. </string>
	</array>
	<array>
		<string>1200 BC  </string>
		<string>IRON AGE : The Trojan War</string>
		<string>The early period of the age is characterized by the widespread use of iron or steel. The adoption of these materials coincided with other changes in society, including differing agricultural practices, religious beliefs and artistic styles</string>
	</array>
	<array>
		<string>323 BC </string>
		<string>HELLENISTIC PERIOD : Ancient Greek</string>
		<string>The Hellenistic period is the period of ancient Greek and eastern Mediterranean history between the death of Alexander the Great and the emergence of the Roman Empire</string>
	</array>
</array>
</plist>
