<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>1941 June 22 </string>
		<string>Germany attacks Russia</string>
		<string>Germany and the Axis Powers attack Russia with a huge force: three great army groups with over three million German soldiers.</string>
	</array>
	<array>
		<string>1941 Dec 7 </string>
		<string>Pearl Harbor</string>
		<string>The Japanese attack the US Navy in Pearl Harbor. The next day the US enters World War II on the side of the Allies. </string>
	</array>
	<array>
		<string>1942 June 4 </string>
		<string>Battle of Midway</string>
		<string>The US Navy defeats the Japanese navy at the Battle of Midway. </string>
	</array>
	<array>
		<string>1943 Sept 3 </string>
		<string>Italy surrenders</string>
		<string>Italy surrenders to the Allies, however Germany helps Mussolini to escape and set up a government in Northern Italy. </string>
	</array>
	<array>
		<string>1944 June 6 </string>
		<string>D-Day. Normandy invasion</string>
		<string>Some 156,000 American, British and Canadian forces landed on five beaches along a 50-mile stretch of the heavily fortified coast of France’s Normandy and push back the Germans. </string>
	</array>
	<array>
		<string>1944 Aug 25 </string>
		<string>Paris liberated</string>
		<string>After many days of fighting, Germany surrendered Paris to the Allied forces, ending four years of occupation.

</string>
	</array>
</array>
</plist>
