<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>1945 April 12 </string>
		<string>President Franklin Delano Roosevelt dies</string>
		<string>President Franklin Delano Roosevelt passes away after four momentous terms in office, leaving Vice President Harry S. Truman in charge of a country</string>
	</array>
	<array>
		<string>1945 April 30 </string>
		<string> Adolf Hitler commits suicide</string>
		<string> Adolf Hitler commits suicide as he knows Germany has lost the war. </string>
	</array>
	<array>
		<string>1945 May 7 </string>
		<string> Germany surrenders</string>
		<string>Germany officially surrendered to the Allies, bringing an end to the European conflict in World War II. General Alfred Jodl, signed the unconditional surrender of both east and west forces</string>
	</array>
	<array>
		<string>1945 August 6 </string>
		<string>The United States drops the Atomic Bomb on Hiroshima</string>
		<string>The explosion wiped out 90 percent of the city and immediately killed 80,000 people; tens of thousands more would later die of radiation exposure.</string>
	</array>
	<array>
		<string>1945 August 9 </string>
		<string>Atomic bomb on Nagasaki</string>
		<string>Another atomic bomb is dropped on Nagasaki, Japan. </string>
	</array>
	<array>
		<string>1945 September 2</string>
		<string>Japan surrenders</string>
		<string>Japan surrenders to US General Douglass MacArthur and the Allies.</string>
	</array>
</array>
</plist>
