<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Apr 29, 1862</string>
		<string>New Orleans falls to Union forces.</string>
		<string>Union troops officially take possession of New Orleans, completing the occupation that had begun four days earlier.</string>
	</array>
	<array>
		<string>Sep 5, 1862</string>
		<string>Confederate forces cross the Potomac</string>
		<string>General Robert E. Lee leads 55,000 men across the Potomac River and they enter Maryland.</string>
	</array>
	<array>
		<string>May 28, 1863</string>
		<string>The first African American regiment</string>
		<string>The 54th&apos;s 1,007 black soldiers and 37 white officers gathered in the Boston Common and prepared to head to the battlefields of the South.</string>
	</array>
	<array>
		<string>Apr 12, 1864</string>
		<string>Fort Pillow massacre </string>
		<string>The battle of Fort Pillow ended with a massacre of African-American Union troops and their white officers attempting to surrender, by soldiers under the command of Confederate Major General Nathan Bedford Forrest.</string>
	</array>
	<array>
		<string>Sep 2, 1864</string>
		<string>Union forces enter Atlanta</string>
		<string>The city fell, after a Union siege and various attempts to seize railroads and supply lines leading to Atlanta. After taking the city, Sherman&apos;s troops headed south-southeastward.</string>
	</array>
	<array>
		<string>Jan 31, 1865</string>
		<string>Lee becomes general-in-chief</string>
		<string>Robert E. Lee becomes General in Chief of the Armies of the Confederate States</string>
	</array>
</array>
</plist>
