<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>May 28, 1863</string>
		<string>The first African American regiment</string>
		<string>The first African American regiment, leaves Boston, to fight for the Union.</string>
	</array>
	<array>
		<string>Apr 12, 1864</string>
		<string>Fort Pillow massacre </string>
		<string>Fort Pillow massacre : African American soldiers who had surrendered at Fort Pillow are killed</string>
	</array>
	<array>
		<string>Sep 2, 1864</string>
		<string>Union forces enter Atlanta</string>
		<string>Union forces enter Atlanta, Georgia a day after the Confederate defenders flee the city.</string>
	</array>
	<array>
		<string>Jan 31, 1865</string>
		<string> Lee becomes general-in-chief</string>
		<string>Confederate General Robert E. Lee becomes general-in-chief.</string>
	</array>
	<array>
		<string>Apr 1, 1865</string>
		<string>Lee begins his final offensive</string>
		<string>Five Forks: In Petersburg, Virginia, Confederate General Lee begins his final offensive.</string>
	</array>
	<array>
		<string>Apr 3, 1865</string>
		<string>Union forces capture Richmond</string>
		<string>Union forces capture Richmond, Virginia, the capital of the Confederate States of America.</string>
	</array>
	<array>
		<string>Apr 9, 1865</string>
		<string>General Lee surrenders</string>
		<string>At Appomattox, Virginia, Confederate General Lee surrenders his 28,000 troops to the Union.</string>
	</array>
	<array>
		<string>Apr 14, 1865</string>
		<string>Lincoln is shot</string>
		<string>Abraham Lincoln is shot by John Wilkes Booth.</string>
	</array>
	<array>
		<string>May 13, 1865</string>
		<string>Last battle of the Civil War</string>
		<string>Palmito Ranch South Texas: the last battle of the Civil War ends with a Confederate victory.</string>
	</array>
	<array>
		<string>Aug 20, 1866</string>
		<string>End of the war</string>
		<string>President Andrew Johnson officially declares the American Civil War to be ended.</string>
	</array>
</array>
</plist>
