<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>July 1, 1916</string>
		<string>The First Battle of the Somme begins</string>
		<string>The British offensive is intended to draw German attention from Verdun.  By the time the Somme campaign ground to a halt some four and a half months later, the combined casualties of both sides topped 1,000,000.</string>
	</array>
	<array>
		<string>March 15, 1917</string>
		<string>Tsar Nicholas II abdicates the thron</string>
		<string>Tsar Nicholas II abdicates the throne after a week of riots in the Russian capital of St. Petersburg. The Russian Revolution saw the rise to power of Vladimir Lenin and the Bolsheviks.</string>
	</array>
	<array>
		<string>April 6, 1917</string>
		<string>The United States declares war on Germany</string>
		<string>In his address to Congress four days earlier, U.S. Pres. Woodrow Wilson had cited Germany's practice of unrestricted submarine warfare and the ‚ the Zimmermann Telegram‚ as key reasons behind the abandonment of his long-standing policy of neutrality.</string>
	</array>
	<array>
		<string>November 20, 1917</string>
		<string>British offensive at Cambrai</string>
		<string>A British offensive at Cambrai, France, marks the first large-scale use of tanks in combat. Attacking with complete surprise, the British tanks ripped through German defenses in depth and took some 7,500 prisoners at low cost in casualties. </string>
	</array>
	<array>
		<string>March 3, 1918</string>
		<string>The Soviet concludes peace</string>
		<string>After months of delays, the Soviet government concludes a separate peace with the Central Powers when it accepts the Treaty of Brest-Litovsk. Russia surrenders its claim to Ukraine, to its Polish and Baltic territories, and to Finland.</string>
	</array>
	<array>
		<string>November 11, 1918</string>
		<string>Armistice</string>
		<string>Germany and the Allies conclude an armistice based largely on Wilson's Fourteen Points.With the allied armies on the verge of flanking the entire German defensive line, the ability of Germany to continue the war seemed doubtful at best. </string>
	</array>
</array>
</plist>
