<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>June 28, 1914</string>
		<string>Archduke Franz Ferdinand of Austria assassinated</string>
		<string>Archduke Franz Ferdinand of Austria and his wife, Sophie, are assassinated by a Bosnian Serb nationalist in Sarajevo.</string>
	</array>
	<array>
		<string>July 28, 1914</string>
		<string>World War I begins</string>
		<string>World War I begins when Austria-Hungary declares war on Serbia.</string>
	</array>
	<array>
		<string>September 6, 1914</string>
		<string>First Battle of the Marne begins.</string>
		<string>First Battle of the Marne begins. The Germans had advanced to within 30 miles of Paris, but over the next two days, the French are reinforced by 6,000 infantrymen.</string>
	</array>
	<array>
		<string>November 5, 1914</string>
		<string>War is declared to the Ottaman Empire</string>
		<string>Britain and France declare war on the Ottoman Empire.</string>
	</array>
	<array>
		<string>April 22, 1915</string>
		<string>The Second Battle of Ypres begins</string>
		<string>The German army initiates the modern era of chemical warfare by launching a chlorine attack on Allied trenches. Some 5,000 French and Algerian troops are killed.</string>
	</array>
	<array>
		<string>February 21, 1916</string>
		<string>The Battle of Verdun begins</string>
		<string>Over the next 10 months, the French and German armies at Verdun, France, suffer over 700,000 casualties, including some 300,000 killed.</string>
	</array>
</array>
</plist>
