<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>March 2, 1796</string>
		<string>Napoleon appointed Commander-in-Chief</string>
		<string>Napoleon Bonaparte is appointed Commander-in-Chief of the Armies of the French Republic.</string>
	</array>
	<array>
		<string>Nov 9, 1799</string>
		<string>Napoleon becomes first consul of France.</string>
		<string>Napoleon&apos;s coup d’état that overthrew the system of government under the Directory in France and substituted the Consulate, making way for the despotism of Napoleon Bonaparte.</string>
	</array>
	<array>
		<string>Jun 14, 1800</string>
		<string>Napoleon defeats the Austrians at the Battle of Marengo and re-conquers Italy.</string>
		<string>Near the end of the day, the French overcame Gen. Michael von Melas&apos;s surprise attack, driving the Austrians out of Italy and consolidating Napoleon&apos;s political position in Paris as First Consul of France.</string>
	</array>
	<array>
		<string>Dec 2, 1804</string>
		<string>Napoleon crowned first emperor of France.</string>
		<string>Napoleon wanted to establish the legitimacy of his imperial reign, with its new royal family and new nobility. To this end, he designed a new coronation ceremony which had emphasized the king&apos;s consecration (sacre) and anointment.</string>
	</array>
	<array>
		<string>May 26, 1805</string>
		<string>Napoleon is crowned King of Italy.</string>
		<string>Napoleon I was crowned at the Duomo di Milano, Milan with the Iron Crown of Lombardy. His title was &quot;Emperor of the French and King of Italy&quot;, showing the importance of this Italian Kingdom for him.</string>
	</array>
	<array>
		<string>Dec 2, 1805</string>
		<string>Napoleon defeats Russians and Austrians at Austerlitz.</string>
		<string>Battle of Austerlitz, also called Battle of the Three Emperors, the first engagement of the War of the Third Coalition and one of Napoleon&apos;s greatest victories. His 68,000 troops defeated almost 90,000 Russians and Austrians.</string>
	</array>
</array>
</plist>
