<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Feb 11, 1810</string>
		<string>Napoleon marries Marie-Louise of Austria.</string>
		<string>In addition to the desire for an heir, Napoleon sought the validation and legitimization of his Empire by marrying a member of one of the leading royal families of Europe. </string>
	</array>
	<array>
		<string>Jun 24, 1812</string>
		<string>Napoleon invades Russia.</string>
		<string>Napoleon&apos;s Grande Armée crossed the Neman River in an attempt to engage and defeat the Russian Army. Napoleon hoped to compel the Emperor of All Russia, Alexander I, to cease trading with British merchants.</string>
	</array>
	<array>
		<string>Sep 14, 1812</string>
		<string>Napoleon occupies Moscow.</string>
		<string>Napoleon Bonaparte’s Grande Armée enters the city of Moscow, only to find the population evacuated. The deserted city held no czarist officials to sue for peace and no great stores of food or supplies to reward the French soldiers for their long march.</string>
	</array>
	<array>
		<string>Nov 29, 1812</string>
		<string>Napoleon&apos;s Grand Army crosses Berezina River in retreat from Russia.</string>
		<string>Under attack from the Russians, the army escaped destruction thanks to the sacrifice of the pontonniers of general Eblé who constructed two bridges which allowed the major part of the army to cross the river. </string>
	</array>
	<array>
		<string>Mar 30, 1814</string>
		<string>European forces march into Paris.</string>
		<string>European forces allied against Napoleonic France march triumphantly into Paris, formally ending a decade of French domination on the Continent.</string>
	</array>
	<array>
		<string>Apr 4, 1814</string>
		<string>Napoleon abdicates for the first time.</string>
		<string>Napoleon&apos;s broken forces gave up and Napoleon offered to step down in favor of his son. When this offer was rejected, he abdicated </string>
	</array>
</array>
</plist>
