<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>May 4, 1814</string>
		<string>Emperor Napoleon I of France arrives on the island of Elba to begin his exile.</string>
		<string>Napoleon was sent into exile on Elba, a small Mediterranean island located 260 km (160 miles) south of France and 10 km (6 miles) west of the Italian coastline.</string>
	</array>
	<array>
		<string>Feb 26, 1815</string>
		<string>Napoleon leaves Elba to start 100-day re-conquest of France.</string>
		<string>Napoleon managed to sneak past his guards and somehow escape from Elba, slip past interception by a British ship, and return to France. Immediately, people and troops began to rally to the returned Emperor</string>
	</array>
	<array>
		<string>Mar 20, 1815</string>
		<string>Napoleon enters Paris and begins 100-day rule.</string>
		<string>Paris welcomed him with celebration, and Louis XVIII, the new king, fled to Belgium. With Louis only just gone, Napoleon moved back into the Tuileries. The period known as the Hundred Days had begun.</string>
	</array>
	<array>
		<string>Jun 18, 1815</string>
		<string>Battle of Waterloo leads to Napoleon Bonaparte abdicating for a second and final time.</string>
		<string>The Battle of Waterloo was fought near Waterloo in Belgium.  A French army under the command of Napoleon Bonaparte was defeated by two of the armies of the Seventh Coalition. The battle marked the end of the Napoleonic Wars.</string>
	</array>
	<array>
		<string>Oct 15, 1815</string>
		<string>Napoleon I of France begins his exile on St. Helena in the Atlantic Ocean.</string>
		<string>Napoleon disembarked in St. Helena with those followers who were voluntarily accompanying him into exile: General Henri-Gratien Bertrand, grand marshal of the palace, and his wife</string>
	</array>
	<array>
		<string>May 5, 1921</string>
		<string>Naploeon Dies.</string>
		<string>Napoleon Bonaparte, the former French ruler who once ruled an empire that stretched across Europe, dies as a British prisoner on the remote island of Saint Helena in the southern Atlantic Ocean.</string>
	</array>
</array>
</plist>
