<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Nov 21, 1791</string>
		<string>Commander-in-Chief</string>
		<string>Napoleon Bonaparte is appointed Commander-in-Chief of the Armies of the French Republic.</string>
	</array>
	<array>
		<string>Nov 9, 1799</string>
		<string>Napoleon becomes dictator (first consul) of France.</string>
		<string>Napoleon&apos;s coup d’état that overthrew the system of government under the Directory in France and substituted the Consulate, making way for the despotism of Napoleon Bonaparte.</string>
	</array>
	<array>
		<string>Jun 14, 1800</string>
		<string>Napoleon&apos;s French Army defeats the Austrians at the Battle of Marengo and re-conquers Italy.</string>
		<string>Near the end of the day, the French overcame Gen. Michael von Melas&apos;s surprise attack, driving the Austrians out of Italy and consolidating Napoleon&apos;s political position in Paris as First Consul of France.</string>
	</array>
	<array>
		<string>Jan 25, 1802</string>
		<string>Napoleon elected President of the Italian (Cisalpine) Republic.</string>
		<string>Napoleon’s period as chief magistrate in Italy began when the thirty-member commission charged with finding a president for the newly created Italian republic finally managed to persuade Napoleon to play that role.</string>
	</array>
	<array>
		<string>May 18, 1803</string>
		<string>Britain declares war on France after Napoleon continues interfering in Italy and Switzerland.</string>
		<string>Britain ended the uneasy truce created by the Treaty of Amiens when it declared war on France in May 1803. The British were increasingly angered by Napoleon&apos;s reordering of the international system in Western Europe</string>
	</array>
	<array>
		<string>Dec 2, 1804</string>
		<string>Napoleon Bonaparte crowned first emperor of France.</string>
		<string>Napoleon wanted to establish the legitimacy of his imperial reign, with its new royal family and new nobility. To this end, he designed a new coronation ceremony which had emphasized the king&apos;s consecration (sacre) and anointment.</string>
	</array>
	<array>
		<string>May 26, 1805</string>
		<string>Napoleon Bonaparte is crowned King of Italy in the Cathedral of Milan.</string>
		<string> Napoleon I was crowned at the Duomo di Milano, Milan with the Iron Crown of Lombardy. His title was &quot;Emperor of the French and King of Italy&quot;, showing the importance of this Italian Kingdom for him.</string>
	</array>
	<array>
		<string>Oct 21, 1805</string>
		<string>Austrian General Mack surrenders his army to Napoleon at Ulm, one of Napoleon&apos;s finest hours.</string>
		<string>The victory at Ulm did not end the war, since a large Russian army under Kutuzov was still near Vienna. The Russians withdrew to the northeast to await reinforcements and to link up with surviving Austrian units.</string>
	</array>
	<array>
		<string>Dec 2, 1805</string>
		<string>Napoleon defeats Russians and Austrians at Austerlitz.</string>
		<string>Battle of Austerlitz, also called Battle of the Three Emperors, the first engagement of the War of the Third Coalition and one of Napoleon&apos;s greatest victories. His 68,000 troops defeated almost 90,000 Russians and Austrians.</string>
	</array>
	<array>
		<string>May 21, 1809</string>
		<string>Battle at Aspern-Essling: Austrian arch duke Karl beats Napoleon.</string>
		<string>Archduke Karl was the first commander to defeat Napoleon on the battlefield. This is why he has come to be written up as the great general who paved the way for Napoleon’s downfall.</string>
	</array>
</array>
</plist>
