<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Oct 3, 1942</string>
		<string>First man object in space</string>
		<string>First man-made object to reach space: the A4-rocket from Germany</string>
	</array>
	<array>
		<string>Oct 4, 1957</string>
		<string>First orbital launch: Sputnik 1 </string>
		<string>The first  orbital launch was of the Soviet unmanned Sputnik 1 mission</string>
	</array>
	<array>
		<string>Nov 3, 1957</string>
		<string>First dog in space</string>
		<string>USSR launches Sputnik 2  carrying the dog Laika: the first animal in orbit</string>
	</array>
	<array>
		<string>Apr 12, 1961</string>
		<string>Yuri Gagarin: the first man to fly in space.</string>
		<string>Aboard the spacecraft Vostok 1, Soviet cosmonaut Yuri Alekseyevich Gagarin becomes the first human being to travel into space. </string>
	</array>
	<array>
		<string>May 5, 1961</string>
		<string>Alan Shepard is the first American into space.</string>
		<string>Alan Shepard became the first American in space when the Freedom 7 spacecraft blasted off from Cape Canaveral, Florida, on May 5, 1961, aboard a Mercury-Redstone rocket.</string>
	</array>
	<array>
		<string>Feb 20, 1962</string>
		<string>First orbital flight for the USA with John Glenn .</string>
		<string>He was one of the Mercury Seven, military test pilots selected in 1959 by NASA as the nation&apos;s first astronauts and bacame the first American to orbit the Earth</string>
	</array>
</array>
</plist>
