<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>June 16, 1963</string>
		<string>Valentina Tereshkova first woman in space</string>
		<string>The first woman in space was a Soviet cosmonaut. Valentina Tereshkova launched with the Vostok 6 mission</string>
	</array>
	<array>
		<string>Mar 18, 1965</string>
		<string>Aleksei Leonov: first person to walk in space.</string>
		<string>Tethered to his spaceship by a 4.8m (16ft) cable, the Russian floated above the Earth for 12 minutes.</string>
	</array>
	<array>
		<string>Feb 3, 1966</string>
		<string>Luna 9 makes the first landing on the Moon.</string>
		<string>USSR&apos;s Luna 9: The lander had a mass of 99 kilograms (218 lb). It used a landing bag to survive the impact speed of 22 kilometres per hour (14 mph). </string>
	</array>
	<array>
		<string>July 20, 1969</string>
		<string>First man on the moon</string>
		<string>Apollo 11 was the spaceflight that first landed humans on the Moon. Armstrong became the first person to step onto the lunar surface.</string>
	</array>
	<array>
		<string>Dec 15, 1970</string>
		<string>Venera 7 is first on another planet (Venus).</string>
		<string>Venera 7  was a Soviet spacecraft. When it landed on the Venusian surface , it became the first spacecraft to soft land on another planet and first to transmit data from there back to Earth.</string>
	</array>
	<array>
		<string>Apr 19, 1971</string>
		<string>Launch of Salyut 1  space station.</string>
		<string>Salyut 1 was the first space station of any kind, launched into low Earth orbit by the Soviet Union.</string>
		<string> France and Great Britain declare war on Germany. </string>
	</array>
</array>
</plist>
