<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Nov 13, 1971</string>
		<string>Mariner 9: first to orbit another planet Mars</string>
		<string>NASA&apos;s Mariner 9 beat the Soviet Mars 2—which had an 11-day head start—to Mars, becoming the first spacecraft to orbit another planet.</string>
	</array>
	<array>
		<string>May 14, 1973</string>
		<string>Skylab, USA’s first space station, is launched.</string>
		<string>Saturn V rocket launched into space with an important mission: putting Skylab, the first US space station, into orbit.</string>
	</array>
	<array>
		<string>Dec, 1973</string>
		<string>Jupiter is reached by Pionner 10</string>
		<string> After successfully negotiating the asteroid belt and a distance of 620 million miles, Pioneer 10 reached Jupiter and sent back to Earth the first close-up images of the spectacular gas giant.</string>
	</array>
	<array>
		<string>1974</string>
		<string>Mercury is reached by Mariner 10</string>
		<string>Mariner 10 was an American robotic space probe launched by NASA , to fly by the planet Mercury.</string>
	</array>
	<array>
		<string>Sep 1, 1979</string>
		<string>Pioneer 11 first to passed by Saturne.</string>
		<string>Pioneer 11 was the first human-made object to fly past Saturn and also returned the first pictures of the polar regions of Jupiter.</string>
	</array>
	<array>
		<string>Jun 18, 1983</string>
		<string>Sally Ride: the first American woman in space.</string>
		<string>Sally Kristen Ride was an American astronaut and physicist. Born in Los Angeles, she joined NASA in 1978 and became the first American woman in space</string>
	</array>
</array>
</plist>
