<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Feb 3, 1966</string>
		<string>USSR’s Luna 9 makes the first controlled rocket-assisted landing on the Moon.</string>
		<string>The lander had a mass of 99 kilograms (218 lb). It used a landing bag to survive the impact speed of 22 kilometres per hour (14 mph). It was a hermetically sealed container with radio equipment, a program timing device, heat control systems, scientific apparatus, power sources, and a television system.</string>
	</array>
	<array>
		<string>Mar 1, 1966</string>
		<string>USSR space probe crashes on Venus: the first spacecraft to land on another planet.</string>
		<string>Venera 3 crash-landed on the surface of Venus , becoming the first spacecraft to strike another planet.</string>
	</array>
	<array>
		<string> July 20, 1969</string>
		<string>First man on the moon</string>
		<string>Apollo 11 was the spaceflight that first landed humans on the Moon. Commander Neil Armstrong and lunar module pilot Buzz Aldrin formed the American crew that landed the Apollo Lunar Module Eagle. Armstrong became the first person to step onto the lunar surface.</string>
	</array>
	<array>
		<string>Dec 15, 1970</string>
		<string>Soviet Venera 7 is first spacecraft to land on another planet (Venus).</string>
		<string>Venera 7  was a Soviet spacecraft, part of the Venera series of probes to Venus. When it landed on the Venusian surface , it became the first spacecraft to soft land on another planet and first to transmit data from there back to Earth.</string>
	</array>
	<array>
		<string>Apr 19, 1971</string>
		<string>Launch of Salyut 1, first human-made space station.</string>
		<string>Salyut 1 was the first space station of any kind, launched into low Earth orbit by the Soviet Union.</string>
	</array>
	<array>
		<string>Nov 13, 1971</string>
		<string>The American space probe, Mariner 9: first spacecraft to orbit another planet Mars</string>
		<string>NASA's Mariner 9 beat the Soviet Mars 2—which had an 11-day head start—to Mars, becoming the first spacecraft to orbit another planet. The orbiter mapped 85% of the Martian surface and sent back more than 7,000 pictures</string>
	</array>
	<array>
		<string>May 14, 1973</string>
		<string>Skylab, USA’s first space station, is launched.</string>
		<string>Saturn V rocket launched into space with an important mission: putting Skylab, the first US space station, into orbit.</string>
	</array>
	<array>
		<string>1973</string>
		<string>Jupiter is reached by Pionner 10</string>
		<string> After successfully negotiating the asteroid belt and a distance of 620 million miles, Pioneer 10 reached Jupiter and sent back to Earth the first close-up images of the spectacular gas giant.</string>
	</array>
	<array>
		<string>1974</string>
		<string>Mercury is reached by Mariner 10</string>
		<string> Mariner 10 was an American robotic space probe launched by NASA , to fly by the planet Mercury.</string>
	</array>
	<array>
		<string>Sep 1, 1979</string>
		<string>Pioneer 11 becomes the first spacecraft to passed by Saturne,.</string>
		<string>Pioneer 11 was the first human-made object to fly past Saturn and also returned the first pictures of the polar regions of Jupiter.</string>
	</array>
</array>
</plist>
