<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Jan 28, 1986</string>
		<string>Challenger breaks apart 73 seconds after liftoff: all seven astronauts died.</string>
		<string>The Space Shuttle Challenger disaster was a fatal incident when the Space Shuttle Challenger (OV-099) broke apart 73 seconds into its flight, killing all seven crew members aboard.</string>
	</array>
	<array>
		<string>May 20, 1990</string>
		<string>Hubble Space Telescope sends first photographs from space.</string>
		<string>The Hubble Space Telescope blasted off aboard the space shuttle Discovery  and was deployed a day later. After a nearly monthlong checkout process, the observatory opened its eyes for the first time. </string>
	</array>
	<array>
		<string>Oct 29, 1991</string>
		<string>The American Galileo spacecraft is the first probe to visit an asteroid.</string>
		<string>Galileo was the first spacecraft to orbit an outer planet. It was the first spacecraft to deploy an entry probe into an outer planet&apos;s atmosphere. It completed the first flyby and imaging of an asteroid</string>
	</array>
	<array>
		<string>Mar 22, 1995</string>
		<string>Cosmonaut Valeri Polyakov returns after setting a record for 438 days in space</string>
		<string>Valeri Vladimirovich Polyakov is a Russian former cosmonaut. He is the holder of the record for the longest single stay in space in human.</string>
	</array>
	<array>
		<string>Jun 21, 2004</string>
		<string>SpaceShipOne becomes the first privately funded spaceplane to achieve spaceflight.</string>
		<string>SpaceShipOne was developed by Mojave Aerospace Ventures (a joint venture between Paul Allen and Scaled Composites, Burt Rutan&apos;s aviation company, in their Tier One program), without government funding.</string>
	</array>
	<array>
		<string>July 14, 2015</string>
		<string>NASA&apos;s space probe Dawn orbited Pluto</string>
		<string>It flew 12,500 km (7,800 mi) above the surface of Pluto, making it the first spacecraft to explore the dwarf planet. New Horizons was reported to have traveled at speeds of more than 84,000 km/h (52,000 mph).</string>
	</array>
</array>
</plist>
