<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <array>
          <string>IRON AGE : The Trojan War</string>
          <string>1200 BC  </string>
    </array>
    <array>
          <string>BYZANTINE PERIOD : Eastern Roman Empire</string>
          <string>330  </string>
    </array>
    <array>
          <string>ENLIGHTENMENT : The Age of Reason and Science</string>
          <string>1600 </string>
    </array>
</array>
</plist>