<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <array>
          <string>FORMATION OF EARTH</string>
          <string>4600 MYA </string>
    </array>
    <array>
          <string>MESOZOIC : Age of Dinosaurs</string>
          <string>252 MYA  </string>
    </array>
    <array>
          <string>NEOLITHIC : First Permanent Settlements</string>
          <string>10200 BC  </string>
    </array>
</array>
</plist>