<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>1848</string>
		<string>French Revolution, Second Republic</string>
		<string>In France, sometimes known as the February Revolution  was one of a wave of revolutions in 1848 in Europe. In France the revolutionary events ended the Orleans monarchy.</string>
	</array>
	<array>
		<string>1850 </string>
		<string>Taiping Rebellion, Hong Xiuquan</string>
		<string>The Taiping Rebellion (or Rebellion of Great Peace) was a large-scale revolt against the authority and forces of the Qing Government in China. It was conducted by an army and civil administration.</string>
	</array>
	<array>
		<string>1857</string>
		<string>The Indian Rebellion</string>
		<string>The Indian Rebellion began as a mutiny of sepoys of British East India Company&apos;s army  in the town of Meerut, and soon erupted into other mutinies and civilian rebellions .</string>
	</array>
	<array>
		<string>1896</string>
		<string>Philippine Revolution for Independence</string>
		<string>The Philippine Revolution, also called the Tagalog War by the Spanish, was a revolution and subsequent conflict fought between the people and insurgents of the Philippines and the Kingdom of Spain.</string>
	</array>
	<array>
		<string>1905</string>
		<string>First Russian Revolution</string>
		<string>The first Russian Revolution was a wave of mass political and social unrest that spread through vast areas of the Russian Empire. Some of it was directed against the government, while some was undirected. </string>
	</array>
	<array>
		<string>1911</string>
		<string>Chinese Revolution, Xinhai</string>
		<string>The Xinhai Revolution, also known as the Chinese Revolution or the Revolution was a revolution that overthrew China&apos;s last imperial dynasty (the Qing dynasty) and established the Republic of China (ROC).</string>
	</array>
</array>
</plist>
