<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Apr 5, 1764</string>
		<string>The Sugar Act</string>
		<string>Great Britain passes the Sugar Act doubling the duties on foreign goods reshipped from England to the colonies</string>
	</array>
	<array>
		<string>Mar 22, 1765</string>
		<string> The Stamp Act</string>
		<string>Great Britain passes the Stamp Act, granting and applying certain stamp duties, and other duties, in the British colonies.</string>
	</array>
	<array>
		<string>Mar 5, 1770</string>
		<string>Boston Massacre</string>
		<string>Boston Massacre: Five Americans are killed by British troops.</string>
	</array>
	<array>
		<string>May 10, 1773</string>
		<string>The Tea Act</string>
		<string>The Tea Act:  Unsold tea from east India Company was to be sold in the colonies.</string>
	</array>
	<array>
		<string>Dec 16, 1773</string>
		<string>Boston Tea Party</string>
		<string>Boston Tea Party: Members of the Sons of Liberty dump tea into Boston harbor.</string>
	</array>
	<array>
		<string>Apr 19, 1775</string>
		<string> First shots fired</string>
		<string>British troops and local militia of Massachusetts fire the first shots of the American Revolution at Lexington.</string>
	</array>
	<array>
		<string>Jun 14, 1775</string>
		<string>USA army established</string>
		<string>The United States Army is established by the Continental Congress.</string>
	</array>
	<array>
		<string>Jun 15, 1775</string>
		<string>George Washington commander-in-chief </string>
		<string>George Washington is appointed commander-in-chief of the Continental Army.</string>
	</array>
	<array>
		<string>Nov 13, 1775</string>
		<string>Revolutionary forces capture Montreal</string>
		<string>American Revolutionary forces capture Montreal, trying to convince the population to join the revolution.</string>
	</array>
	<array>
		<string>Dec 31, 1775</string>
		<string>Battle of Quebec</string>
		<string>Battle of Quebec British forces repulse an attack by Continental Army generals Richard Montgomery and Benedict Arnold.</string>
	</array>
	<array>
		<string>Mar 17, 1776</string>
		<string>British forces evacuate Boston,</string>
		<string>British forces evacuate Boston, Massachusetts after George Washington and Henry Knox place artillery overlooking the city.</string>
	</array>
</array>
</plist>
