<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>1917 </string>
		<string>The Russian Revolution</string>
		<string>The Russian Revolution was a pair of revolutions in Russia  which dismantled the Tsarist autocracy and led to the rise of the Soviet Union. The Russian Empire collapsed with the abdication of Emperor Nicholas II.</string>
	</array>
	<array>
		<string>1919 - 1921</string>
		<string>Irish War of Independence</string>
		<string>The Irish War of Independence (Irish: Cogadh na Saoirse), Anglo-Irish War, Black and Tan War, or Tan War was a guerrilla war mounted by the Irish Republican Army (IRA) against the British government and its forces in Ireland.</string>
	</array>
	<array>
		<string>1934 - 1935</string>
		<string>The Long March, China</string>
		<string>The Long March was a military retreat undertaken by the Red Army of the Communist Party of China, the forerunner of the People&apos;s Liberation Army, to evade the pursuit of the Kuomintang (KMT or Chinese Nationalist Party) army.</string>
	</array>
	<array>
		<string>1953 - 1959</string>
		<string>The Cuban Revolution</string>
		<string>The Cuban Revolution was the overthrow of Fulgencio Batista&apos;s regime by the 26th of July Movement and the establishment of a new Cuban government led by Fidel Castro</string>
	</array>
	<array>
		<string>1959</string>
		<string>Tibetan uprising, 14th Dalai Lama&apos;s Flight</string>
		<string>The Tibetan uprising  began when a revolt erupted in Lhasa, the capital of Tibet, which had been under the effective control of the Communist Party of China.</string>
	</array>
	<array>
		<string>1966 - 1976</string>
		<string>The Cultural Revolution, China</string>
		<string>The Cultural Revolution, formally the Great Proletarian Cultural Revolution, was a sociopolitical movement. Set into motion by Mao Zedong, then Chairman of the Communist Party of China.</string>
	</array>
</array>
</plist>
