<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>1523 </string>
		<string>Reformation Iconoclasm, Europe</string>
		<string>Some of the Protestant reformers, in particular John Calvin, encouraged the removal of religious images. It marked the start of the revolution against the Spanish forces and the Catholic church. </string>
	</array>
	<array>
		<string>1775 </string>
		<string>The American Revolution, Independance from Britain</string>
		<string>The American Revolution was a colonial revolt . The American Patriots in the Thirteen Colonies won independence from Great Britain, becoming the United States of America.</string>
	</array>
	<array>
		<string>1789 </string>
		<string>The French Revolution</string>
		<string>The French Revolution was a period of radical social and political upheaval in France  that profoundly affected French and modern history, marking the decline of powerful monarchies and churches and the rise of democracy.</string>
	</array>
	<array>
		<string>1797</string>
		<string>Haiti Revolution</string>
		<string>François-Dominique Toussaint Louverture was a leader of the Haitian Revolution. Born in Saint-Domingue, in a long struggle for independence Toussaint led enslaved Africans and Afro-Haitians to victory the French.</string>
	</array>
	<array>
		<string>1810 - 1823</string>
		<string>Venezuelan War of Independence</string>
		<string>The Venezuelan War of Independence was one of the Spanish American wars of independence of the early nineteenth century, when independence movements in Latin America fought against rule by the Spanish Empire.</string>
	</array>
	<array>
		<string>1821 - 1829</string>
		<string>Greek Revolution, War of Independence</string>
		<string>Greek Revolution was a successful war of independence waged by the Greek revolutionaries against the Ottoman Empire. </string>
	</array>
</array>
</plist>
