<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>1810 - 1823</string>
		<string>Venezuelan War of Independence</string>
		<string>The Venezuelan War of Independence was one of the Spanish American wars of independence of the early nineteenth century, when independence movements in Latin America fought against rule by the Spanish Empire.</string>
	</array>
	<array>
		<string>1820 - 1822</string>
		<string>Ecuadorian War of Independence</string>
		<string>The Ecuadorian War of Independence was fought between several South American armies and Spain over control of the lands of the Royal Audience of Quito, a Spanish colonial administrative .</string>
	</array>
	<array>
		<string>1821 - 1829</string>
		<string>Greek Revolution, War of Independence</string>
		<string>The Greek War of Independence, also known as the Greek Revolution was a successful war of independence waged by the Greek revolutionaries against the Ottoman Empire. </string>
	</array>
	<array>
		<string>1830 - 1831</string>
		<string>Belgian Revolution, Independence</string>
		<string>The Belgian Revolution was the conflict which led to the secession of the southern provinces (mainly the former Southern Netherlands) from the United Kingdom of the Netherlands and the establishment of an independent Kingdom of Belgium.</string>
	</array>
	<array>
		<string>1848</string>
		<string>French Revolution, Second Republic</string>
		<string>In France, sometimes known as the February Revolution  was one of a wave of revolutions in 1848 in Europe. In France the revolutionary events ended the Orleans monarchy.</string>
	</array>
	<array>
		<string>1850 </string>
		<string>Taiping Rebellion, Hong Xiuquan</string>
		<string>The Taiping Rebellion (or Rebellion of Great Peace) was a large-scale revolt against the authority and forces of the Qing Government in China. It was conducted by an army and civil administration.</string>
	</array>
	<array>
		<string>1857</string>
		<string>The Indian Rebellion of 1857</string>
		<string>The Indian Rebellion began as a mutiny of sepoys of British East India Company&apos;s army  in the town of Meerut, and soon erupted into other mutinies and civilian rebellions .</string>
	</array>
	<array>
		<string>1859</string>
		<string>2nd Italian War of Independence</string>
		<string>The Second War of Italian Independence, Franco-Austrian War, or Austro-Sardinian War was fought by Napoleon III of France and the Kingdom of Piedmont-Sardinia against the Austrian Empire in 1859.</string>
	</array>
	<array>
		<string>1861 - 1946</string>
		<string>Italian Unification, Kingdom of Italy</string>
		<string>The Kingdom of Italy was a state founded in 1861 when King Victor Emmanuel II of Sardinia was proclaimed King of Italy. The state was founded as a result of the unification of Italy under the influence of the Kingdom of Sardinia.</string>
	</array>
</array>
</plist>
