<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>1274 BC</string>
		<string>Battle of Kadesh, Between Egyptian and Hittiti Empire</string>
		<string>The Battle of Kadesh (also Qadesh) took place between the forces of the Egyptian Empire under Ramesses II and the Hittite Empire under Muwatalli II at the city of Kadesh on the Orontes River, in what is now Syria.</string>
	</array>
	<array>
		<string>1194 - 1184 BC</string>
		<string>The Trojan War, Troy</string>
		<string>The Trojan War was waged against the city of Troy by the Achaeans (Greeks) after Paris of Troy stole Helen from her husband Menelaus, the king of Sparta. The war is among the most important events in Greek mythology.</string>
	</array>
	<array>
		<string>499 - 449 BC</string>
		<string>The Greco-Persian Wars</string>
		<string>The Greco-Persian Wars (also often called the Persian Wars) were a series of conflicts between the Achaemenid Empire of Persia and city-states of the Hellenic world.</string>
	</array>
	<array>
		<string>149 - 146 BC</string>
		<string>Punic War 3 : Destruction of Carthage</string>
		<string>Rome challenged Carthage’s control of the W Mediterranean in the Punic Wars (so called after the Roman name for the Carthaginians, Poeni, i.e., Phoenicians). </string>
	</array>
	<array>
		<string>49 - 45 BC</string>
		<string>Caesar&apos;s  Civil War, End Roman Republic</string>
		<string>The Great Roman Civil War  aka Caesar’s Civil War, was one of the last politico-military conflicts in the Roman Republic before the establishment of the Roman Empire. </string>
	</array>
	<array>
		<string>267</string>
		<string>The Goths, Invasions of the Roman Empire</string>
		<string>The Goths were an East Germanic tribe which according to their own traditions originated in Scandinavia (specifically Götaland and Gotland). They migrated southwards and conquered parts of the Roman empire.</string>
	</array>
</array>
</plist>
