<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>1667 - 1698</string>
		<string>Great Turkish War</string>
		<string>The Great Turkish War refers to a series of conflicts between the Ottoman Empire and contemporary European powers, then joined into a Holy League.</string>
	</array>
	<array>
		<string>1754 - 1763</string>
		<string>Seven Years War</string>
		<string>The Kingdom of Great Britain was one of the leading participants in the Seven Years War. Britain emerged from the war as the world&apos;s leading colonial power having gained a number of new territories.</string>
	</array>
	<array>
		<string>1775 - 1783</string>
		<string>The American Revolution, Independance from Britain</string>
		<string> The American Patriots in the Thirteen Colonies won independence from Great Britain, becoming the United States of America.</string>
	</array>
	<array>
		<string>1792 - 1815</string>
		<string>Napoleonic Wars</string>
		<string>During his long career Napoleon Bonaparte conquered most of Europe and became such a feared soldier that his opponents in Britain, Russia, Austria and Prussia had him declared &apos;an enemy of humanity&apos;.</string>
	</array>
	<array>
		<string>1808 - 1833</string>
		<string>Spanish American wars of Independence</string>
		<string>The Spanish American wars of independence were the numerous wars against Spanish rule in Spanish America that took place during the early 19th century, after the French invasion of Spain during Europe&apos;s Napoleonic Wars.</string>
	</array>
	<array>
		<string>1846 - 1848</string>
		<string>Mexican‚ American War</string>
		<string>The Mexican‚ American War was an armed conflict between the United States and the Centralist Republic of Mexico in the wake of the U.S. annexation of Texas, which Mexico considered part of its territory.</string>
	</array>
</array>
</plist>
