<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>270</string>
		<string>The Vandals, Invading Roman Territory</string>
		<string>It&apos;s not known to many people today that long time ago the Vandal warriors, a Germanic tribe, once established a kingdom in North Africa as their base for raiding the Mediterranean Sea, much like the Vikings.</string>
	</array>
	<array>
		<string>1095 - 1291</string>
		<string>The Crusades</string>
		<string>The Crusades were a series of religiously-sanctioned military campaigns waged by much of Latin Christian Europe, particularly the Franks of France and the Holy Roman Empire. </string>
	</array>
	<array>
		<string>1337 - 1453</string>
		<string>The Hundred Years&apos; War</string>
		<string>The House of Valois claimed the title of King of France, while the Plantagenets claimed the thrones of both France and England. </string>
	</array>
	<array>
		<string>1453</string>
		<string>The Fall of Constantinople</string>
		<string>The Fall of Constantinople was the capture of the capital of the Byzantine Empire which occurred after a siege laid by the Ottoman Empire, under the command of Sultan Mehmed II.</string>
	</array>
	<array>
		<string>1618 - 1648</string>
		<string>The Thirty Years&apos; War</string>
		<string>Initially a war between various Protestant and Catholic states in the fragmented Holy Roman Empire, it gradually developed into a more general conflict involving most of the great powers.</string>
	</array>
	<array>
		<string>1654 - 1660</string>
		<string>Anglo-Spanish War</string>
		<string>The Anglo–Spanish War was a conflict between the English Protectorate under Oliver Cromwell and Spain. It was caused by commercial rivalry. </string>
	</array>
</array>
</plist>
