<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>420 - 453</string>
		<string>The Huns</string>
		<string>The event which, more than any other, presaged the fall of the Roman Empire was the arrival of a group of the Huns in Eastern Europe, forcing many Germanic peoples to migrate southwards and westwards</string>
	</array>
	<array>
		<string>1095 - 1291</string>
		<string>The Crusades</string>
		<string>The Crusades were a series of religiously-sanctioned military campaigns waged by much of Latin Christian Europe, particularly the Franks of France and the Holy Roman Empire. </string>
	</array>
	<array>
		<string>1162 - 1227</string>
		<string>Genghis Khan, Unified the Mongols</string>
		<string>Genghis Khan was the founder and Great Khan (emperor) of the Mongol Empire, which became the largest contiguous empire in history. He came to power by uniting many of the nomadic tribes of northeast Asia.</string>
	</array>
	<array>
		<string>1337 - 1453</string>
		<string>The Hundred Years&apos; War</string>
		<string>The House of Valois claimed the title of King of France, while the Plantagenets claimed the thrones of both France and England. </string>
	</array>
	<array>
		<string>1453</string>
		<string>The Fall of Constantinople</string>
		<string>The Fall of Constantinople was the capture of the capital of the Byzantine Empire which occurred after a siege laid by the Ottoman Empire, under the command of Sultan Mehmed II.</string>
	</array>
	<array>
		<string>1475 - 1541</string>
		<string>Pizarro, Conqueror Inca Empire</string>
		<string>Francisco Pizarro was a Conquistador seized the Inca empire for Spain.</string>
	</array>
	<array>
		<string>1618 - 1648</string>
		<string>The Thirty Years&apos; War</string>
		<string>Initially a war between various Protestant and Catholic states in the fragmented Holy Roman Empire, it gradually developed into a more general conflict involving most of the great powers.</string>
	</array>
	<array>
		<string>1654 - 1660</string>
		<string>Anglo-Spanish War</string>
		<string>The Anglo–Spanish War was a conflict between the English Protectorate under Oliver Cromwell and Spain. It was caused by commercial rivalry. </string>
	</array>
	<array>
		<string>1667 - 1698</string>
		<string>Great Turkish War</string>
		<string>The Great Turkish War refers to a series of conflicts between the Ottoman Empire and contemporary European powers, then joined into a Holy League, during the second half of the 17th century.</string>
	</array>
	<array>
		<string>1754 - 1763</string>
		<string>Seven Years War</string>
		<string>The Kingdom of Great Britain was one of the leading participants in the Seven Years War. Britain emerged from the war as the world&apos;s leading colonial power having gained a number of new territories.</string>
	</array>
</array>
</plist>
