<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>1861 - 1865</string>
		<string>The American Civil War</string>
		<string>After four years of bloody combat that left over 600,000 Union and Confederate soldiers dead and destroyed much of the South&apos;s infrastructure, the Confederacy collapsed, slavery was abolished.</string>
	</array>
	<array>
		<string>1880 - 1902</string>
		<string>Boer War 1 and 2, South Africa</string>
		<string>The war ended when the Boer leadership surrendered and accepted British terms with the Treaty of Vereeniging in May 1902. Both former republics were incorporated into the Union of South Africa in 1910, as part of the British Empire</string>
	</array>
	<array>
		<string>1898</string>
		<string>Spanish-American War</string>
		<string>The war began after the American demand for Spain&apos;s peacefully resolving the Cuban fight for independence was rejected, though strong expansionist sentiment in the United States motivated the government to target Spain&apos;s remaining overseas territories</string>
	</array>
	<array>
		<string>1911</string>
		<string>Chinese Revolution, Xinhai</string>
		<string>The Xinhai Revolution, also known as the Chinese Revolution or the Revolution of 1911, was a revolution that overthrew China&apos;s last imperial dynasty (the Qing dynasty) and established the Republic of China (ROC). </string>
	</array>
	<array>
		<string>1914 - 1918</string>
		<string>World War I, WW1</string>
		<string>World War I (WWI), also called the First World War or Great War, was a major war centered in Europe . It involved all of the world&apos;s great powers.</string>
	</array>
	<array>
		<string>1936 - 1939</string>
		<string>Spanish Civil War</string>
		<string>The Spanish Civil War was the result of complex political differences between the Republicans — supporters of the government of the day, the Second Spanish Republic</string>
	</array>
</array>
</plist>
