<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>1775 - 1783</string>
		<string>The American Revolution, Independance from Britain</string>
		<string> The American Patriots in the Thirteen Colonies won independence from Great Britain, becoming the United States of America.</string>
	</array>
	<array>
		<string>1789 - 1794</string>
		<string>The French Revolution</string>
		<string>The French Revolution was a period of radical social and political upheaval in France that profoundly affected French and modern history, marking the decline of powerful monarchies and churches and the rise of democracy.</string>
	</array>
	<array>
		<string>1792 - 1815</string>
		<string>Napoleonic Wars</string>
		<string>During his long career Napoleon Bonaparte conquered most of Europe and became such a feared soldier that his opponents in Britain, Russia, Austria and Prussia had him declared &apos;an enemy of humanity&apos;.</string>
	</array>
	<array>
		<string>1808 - 1833</string>
		<string>Spanish American wars of Independence</string>
		<string>The Spanish American wars of independence were the numerous wars against Spanish rule in Spanish America that took place during the early 19th century, after the French invasion of Spain during Europe&apos;s Napoleonic Wars.</string>
	</array>
	<array>
		<string>1846 - 1848</string>
		<string>Mexican‚ American War</string>
		<string>The Mexican‚ÄìAmerican War was an armed conflict between the United States and the Centralist Republic of Mexico in the wake of the U.S. annexation of Texas, which Mexico considered part of its territory.</string>
	</array>
	<array>
		<string>1861 - 1865</string>
		<string>The American Civil War</string>
		<string>After four years of bloody combat that left over 600,000 Union and Confederate soldiers dead and destroyed much of the South&apos;s infrastructure, the Confederacy collapsed, slavery was abolished.</string>
	</array>
	<array>
		<string>1870 - 1871</string>
		<string>Franco-Prussian War, Unification Germany</string>
		<string>The Franco-Prussian War or Franco-German War  was a conflict between the Second French Empire and the Kingdom of Prussia.</string>
	</array>
	<array>
		<string>1880 - 1902</string>
		<string>Boer War 1 and 2, South Africa</string>
		<string>There were two Boer wars both between the British and the settlers of Dutch origin (called Boere, Afrikaners or Voortrekkers) in South Africa that put an end to the two independent r...</string>
	</array>
	<array>
		<string>1898</string>
		<string>Spanish-American War</string>
		<string>The war began after the American demand for Spain&apos;s peacefully resolving the Cuban fight for independence was rejected, though strong expansionist sentiment in the United States motivated the government to target Spain&apos;s remaining overseas territories</string>
	</array>
	<array>
		<string>1911</string>
		<string>Chinese Revolution, Xinhai</string>
		<string>The Xinhai Revolution, also known as the Chinese Revolution or the Revolution of 1911, was a revolution that overthrew China&apos;s last imperial dynasty (the Qing dynasty) and established the Republic of China (ROC). </string>
	</array>
</array>
</plist>
