<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <array>
          <string>1274 BC</string>
          <string>Battle of Kadesh, Between Egyptian and Hittiti Empire</string>
          <string>The Battle of Kadesh (also Qadesh) took place between the forces of the Egyptian Empire under Ramesses II and the Hittite Empire under Muwatalli II at the city of Kadesh on the Orontes River, in what is now Syria.</string>
    </array>
    <array>
          <string>1194 BC - 1184 BC</string>
          <string>The Trojan War, Troy</string>
          <string>In Greek mythology, the Trojan War was waged against the city of Troy by the Achaeans (Greeks) after Paris of Troy stole Helen from her husband Menelaus, the king of Sparta. The war is among the most important events in Greek mythology.</string>
    </array>
    <array>
          <string>499 BC - 449 BC</string>
          <string>The Greco-Persian Wars</string>
          <string>The Greco-Persian Wars (also often called the Persian Wars) were a series of conflicts between the Achaemenid Empire of Persia and city-states of the Hellenic world.</string>
    </array>
    <array>
          <string>431 BC - 404 BC</string>
          <string>Peloponnesian War</string>
          <string>The Peloponnesian War was an ancient Greek war fought by Athens and its empire against the Peloponnesian League led by Sparta. </string>
    </array>
    <array>
          <string>356 BC - 323 BC</string>
          <string>Alexander the Great, Macedonian Empire</string>
          <string>Alexander III of Macedon, commonly known as Alexander the Great, was a king of Macedon, a state in the north eastern region of Greece, and by the age of thirty was the creator of one of the largest empires in ancient history.</string>
    </array>
    <array>
          <string>149 BC - 146 BC</string>
          <string>Punic War 3 : Destruction of Carthage</string>
          <string>Rome challenged Carthage’s control of the W Mediterranean in the Punic Wars (so called after the Roman name for the Carthaginians, Poeni, i.e., Phoenicians). </string>
    </array>
    <array>
          <string>49 BC - 45 BC</string>
          <string>Caesar&apos;s  Civil War, End Roman Republic</string>
          <string>The Great Roman Civil War  aka Caesar’s Civil War, was one of the last politico-military conflicts in the Roman Republic before the establishment of the Roman Empire. </string>
    </array>
    <array>
          <string>267</string>
          <string>The Goths, Invasions of the Roman Empire</string>
          <string>The Goths were an East Germanic tribe which according to their own traditions originated in Scandinavia (specifically Götaland and Gotland). They migrated southwards and conquered parts of the Roman empire.</string>
    </array>
    <array>
          <string>270</string>
          <string>The Vandals, Invading Roman Territory</string>
          <string>It&apos;s not known to many people today that long time ago the Vandal warriors, a Germanic tribe, once established a kingdom in North Africa as their base for raiding the Mediterranean Sea, much like the Vikings.</string>
    </array>
</array>
</plist>