<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string> 3200 BC</string>
		<string>Sumerian  cuneiform writing system.</string>
		<string>Sumerian cuneiform is the earliest known writing system. It developed from the pictographs and other symbols used to represent trade goods and livestock on clay tablets. </string>
	</array>
	<array>
		<string>3100 BC</string>
		<string>First dynasty of Egypt</string>
		<string>The First Dynasty of ancient Egypt covers the first series of Egyptian kings to rule over a unified Egypt. It immediately follows the unification of Upper and Lower Egypt, possibly by Narmer</string>
	</array>
	<array>
		<string>2600 BC</string>
		<string>Emergence of Maya culture</string>
		<string>Discoveries of Maya occupation at Cuello, Belize and settlements were established  in the Soconusco region of the Pacific coast, and they were already cultivating the staple crops of the Maya.</string>
	</array>
	<array>
		<string>2560 BC</string>
		<string>The Great Pyramid of Giza is completed</string>
		<string>The Great Pyramid of Giza is the oldest monument on the list of the Seven Wonders of the Ancient World.</string>
	</array>
	<array>
		<string>2200 BC</string>
		<string>Completion of Stonehenge.</string>
		<string>Stonehenge is a prehistoric monument in Wiltshire, England, two miles (3 km) west of Amesbury. It consists of a ring of standing stones weighing around 25 tons.</string>
	</array>
	<array>
		<string>890 BC</string>
		<string>Composition of the Iliad and the Odyssey</string>
		<string>Homer is the legendary author of the Iliad and the Odyssey, two epic poems that are the central works of ancient Greek literature. The Iliad is set during the Trojan War.</string>
	</array>
</array>
</plist>
