<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>800 BC</string>
		<string>Rise of Greek City-States</string>
		<string>Greek colonies sprang up from the Mediterranean to Asia Minor, from North Africa to the coast of the Black Sea.  There were more than 1,500 independent city-state.</string>
	</array>
	<array>
		<string>653 BC</string>
		<string>Rise of Persian Empire.</string>
		<string>The Achaemenid Persian Empire first expanded under the leadership of Cyrus the Great, who utilized a strategy of religious and cultural toleration to maintain order.</string>
	</array>
	<array>
		<string>563 BC</string>
		<string>Siddhartha Gautama (Buddha) is born.</string>
		<string>Siddhartha Gautama, the founder of Buddhism who later became known as “the Buddha,” was born into a wealthy family as a prince in present-day Nepal. </string>
	</array>
	<array>
		<string>551 BC</string>
		<string>Birth of  Confucius</string>
		<string>Confucius, also known as Kong Qui or K’ung Fu-tzu, was a Chinese philosopher, teacher and political figure.</string>
	</array>
	<array>
		<string>539 BC</string>
		<string>The Fall of the Babylon</string>
		<string>This event saw the conquest of Babylon by the Achaemenid Empire under Cyrus the Great and marked the end of the Neo-Babylonian Empire.</string>
	</array>
	<array>
		<string>508 BC</string>
		<string>Democracy instituted at Athens</string>
		<string>Greek democracy created at Athens was direct, rather than representative: any adult male citizen over the age of 20 could take part, and it was a duty to do so</string>
	</array>
</array>
</plist>
