<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>470 BC</string>
		<string>Birth of Socrates</string>
		<string>Socrates was a classical Greek Athenian philosopher. Credited as one of the founders of Western philosophy.</string>
	</array>
	<array>
		<string>331 BC</string>
		<string>Alexander the Great defeats Persia</string>
		<string>Alexander undermanned defeat of the Persian King Darius III is seen as one of the decisive turning points of human history, unseating the Persians as the greatest power in the ancient world</string>
	</array>
	<array>
		<string>221 BC</string>
		<string>Unification of China</string>
		<string>Qin Shi Huang unifies China beginning of Imperial rule in China which lasts until 1912.</string>
	</array>
	<array>
		<string>146 BC</string>
		<string> Roman conquest of Greece.</string>
		<string>The Roman era of Greek history began with the Corinthian defeat in the Battle of Corinth.</string>
	</array>
	<array>
		<string>49 BC</string>
		<string> Roman Civil War</string>
		<string> Roman Civil War between Julius Caesar and Pompey the Great. I was one of the last politico-military conflicts in the Roman Republic before the establishment of the Roman Empire.</string>
	</array>
	<array>
		<string>44 BC</string>
		<string>Death of Julius Cesar</string>
		<string>Julius Caesar murdered by Marcus Brutus. End of Roman Republic; beginning of Roman Empire.</string>
	</array>
</array>
</plist>
