<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string> 3200 BC</string>
		<string> Sumerian cuneiform writing system.</string>
		<string>Sumerian cuneiform is the earliest known writing system. Its origins can be traced back to about 8,000 BC and it developed from the pictographs and other symbols used to represent trade goods and livestock on clay tablets. </string>
	</array>
	<array>
		<string>3100 BC</string>
		<string>First dynasty of Egypt</string>
		<string>The First Dynasty of ancient Egypt covers the first series of Egyptian kings to rule over a unified Egypt. It immediately follows the unification of Upper and Lower Egypt, possibly by Narmer</string>
	</array>
	<array>
		<string>2600 BC</string>
		<string>Maya culture</string>
		<string>Emergence of Maya culture in the Yucatán Peninsula</string>
	</array>
	<array>
		<string>2560 BC</string>
		<string>Great Pyramid of Giza</string>
		<string>King Khufu completes the Great Pyramid of Giza.</string>
	</array>
	<array>
		<string>2200 BC</string>
		<string>Completion of Stonehenge.</string>
		<string>Stonehenge is a prehistoric monument in Wiltshire, England, two miles (3 km) west of Amesbury. It consists of a ring of standing stones, each around 13 feet (4.0 m) high, seven feet (2.1 m) wide, and weighing around 25 tons</string>
	</array>
	<array>
		<string>1400 BC</string>
		<string>Olmec civilization</string>
		<string>Rise of the Olmec civilization Pre-Columbian Mexico.</string>
	</array>
	<array>
		<string>890 BC</string>
		<string>The Iliad and the Odyssey</string>
		<string>Approximate date for the composition of the Iliad and the Odyssey</string>
	</array>
	<array>
		<string>800 BC</string>
		<string>Rise of Greek city-states</string>
		<string>Greek colonies sprang up from the Mediterranean to Asia Minor, from North Africa to the coast of the Black Sea. By the end of the seventh century B.C., there were more than 1,500 colonial poleis. Each of these poleis was an independent city-state</string>
	</array>
	<array>
		<string>753 BC</string>
		<string>Founding of Rome (traditional date)</string>
		<string>Rome is one of the oldest continuously occupied cities in Europe. It is referred to as &quot;The Eternal City&quot; , a central notion in ancient Roman culture. In the ancient world it was successively the capital city of the Roman Kingdom, the Roman Republic and the Roman Empire, and is regarded as one of the birthplaces of Western civilization.</string>
	</array>
	<array>
		<string>653 BC</string>
		<string>Rise of Persian Empire.</string>
		<string>The Achaemenid Persian Empire first expanded under the leadership of Cyrus the Great, who utilized a strategy of religious and cultural toleration to maintain order.</string>
	</array>
	<array>
		<string>563 BC</string>
		<string>Buddha</string>
		<string>Siddhartha Gautama (Buddha), founder of Buddhism is born.</string>
	</array>
</array>
</plist>
