<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Jul 14, 1789</string>
		<string>Storming of the Bastille</string>
		<string>The medieval armory, fortress, and political prison known as the Bastille was seen by the revolutionaries as a symbol of the monarchy&apos;s abuse of power; its fall was the flashpoint of the French Revolution.</string>
	</array>
	<array>
		<string>Aug 27, 1789</string>
		<string> Declaration: Rights of Man and of the Citizen.</string>
		<string>The Declaration was drafted by the Abbé Sieyès and the Marquis de Lafayette, in consultation with Thomas Jefferson. Influenced by the doctrine of &quot;natural right&quot;, the rights of man are held to be universal.</string>
	</array>
	<array>
		<string>Oct 10, 1789</string>
		<string>Invention of the Guillontine</string>
		<string> Joseph-Ignace Guillotin, a doctor, member of the Assembly, proposes a new and more humane form of public execution, which eventually is named after him, the guillotine.</string>
	</array>
	<array>
		<string>Jun 19, 1790</string>
		<string>Nobility privileges abolished</string>
		<string>The National Assembly issues a decree abolishing the titles, orders and other privileges of the French nobility</string>
	</array>
	<array>
		<string>Apr 25, 1792</string>
		<string>La Marseillaise is sung for the first time</string>
		<string>La Marseillaise composed by Joseph Rouget de Lisle, is sung for the first time in Strasbourg.</string>
	</array>
	<array>
		<string>Aug 13, 1792</string>
		<string>Royal family arrested.</string>
		<string>The National Tribunal in Paris  arrested King Louis XVI of France and the royal family, including Queen Mary Antoinette, the king’s son and heir to the throne, the king’s daughter, and the king’s sister.

King Louis XVI  was officially declared an enemy of the people.</string>
	</array>
</array>
</plist>
