<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Dec 10, 1792</string>
		<string>Trial of Louis XVI</string>
		<string>The trial of Louis XVI. in December 1792, a key event of the French Revolution, was the trial of the former king–officially called "Citizen Louis Capet" since being dethroned. He was convicted of high treason and other crimes, resulting in his execution.</string>
	</array>
	<array>
		<string>Jan 21, 1793</string>
		<string>Louis XVI is beheaded</string>
		<string>The execution of Louis XVI by means of the guillotine, a major event of the French Revolution, took at the Place de la Révolution ("Revolution Square", formerly Place Louis XV, and renamed Place de la Concorde in 1795) in Paris.</string>
	</array>
	<array>
		<string>Jun 24, 1793</string>
		<string>New Constitution</string>
		<string>With sweeping plans for democratization and wealth redistribution, the new document promised a significant departure from the relatively moderate goals of the Revolution in previous years.</string>
	</array>
	<array>
		<string>Aug 1, 1793</string>
		<string>The metric system.</string>
		<string>The National Convention adopted a decree imposing a metric system in France. Several years were necessary to spread this new metric system throughout the country, and dozens of others to order its use.</string>
	</array>
	<array>
		<string>Nov 23, 1793</string>
		<string>Closing of all churches</string>
		<string>The Paris Commune orders the closing of all churches and places of worship in Paris.</string>
	</array>
	<array>
		<string>Apr 2, 1794</string>
		<string>Trial of Danton</string>
		<string>He was guillotined by the advocates of revolutionary terror after accusations of venality and leniency toward the enemies of the Revolution.</string>
	</array>
	<array>
		<string>Apr 5, 1794</string>
		<string>Danton and Desmoulins are convicted </string>
		<string>Danton and Desmoulins are convicted and guillotined the same day.</string>
	</array>
	<array>
		<string>Jul 28, 1794</string>
		<string>Robespierre is guillotined. End of the Reign of Terror</string>
		<string>Robespierre and his supporters are taken to the Revolutionary Tribunal for formal identification. Since they have been declared outside the law, no trial is considered necessary. In the evening of July 28, Robespierre and his supporters, including his brother, Saint-Just, Couthon and Hanriot, 22 in all, are guillotined.</string>
	</array>
	<array>
		<string>Nov 2, 1795</string>
		<string>The Directory is formed and takes control of the government of France</string>
		<string>Directory, French Directoire, the French Revolutionary government set up by the Constitution of the Year III, which lasted four years, from November 1795 to November 1799.</string>
	</array>
	<array>
		<string>Nov 9, 1799</string>
		<string>Napoleon overthrows the Directory</string>
		<string>Napoléon establishes the French Consulate with Napoleon as leader of France. This brings an end to the French Revolution. </string>
	</array>
</array>
</plist>
