<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Aug 19, 1792</string>
		<string>Lafayette leaves his army and goes into exile.</string>
		<string>Radical factions ordered his arrest, and he fled into the Austrian Netherlands. He was captured by Austrian troops and spent more than five years in prison.</string>
	</array>
	<array>
		<string>Sep 19, 1792</string>
		<string>Creation of the Louvre Museum</string>
		<string>Creation of the Louvre Museum displaying art taken from royal collections.</string>
	</array>
	<array>
		<string>Sep 22, 1792</string>
		<string>The First French Republic.</string>
		<string>The Convention proclaims the abolition of royalty and the First French Republic.</string>
	</array>
	<array>
		<string>Dec 10, 1792</string>
		<string>Trial of Louis XVI</string>
		<string>The trial of Louis XVI. in December 1792, a key event of the French Revolution,. He was convicted of high treason and other crimes, resulting in his execution.</string>
	</array>
	<array>
		<string>Jun 24, 1793</string>
		<string>New Constitution is introduced</string>
		<string>With sweeping plans for democratization and wealth redistribution, the new document promised a significant departure from the relatively moderate goals of the Revolution in previous years.</string>
	</array>
	<array>
		<string>Aug 1, 1793</string>
		<string>The metric system is adopted</string>
		<string>The National Convention adopted a decree imposing a metric system in France. Several years were necessary to spread this new metric system throughout the country, and dozens of others to order its use.</string>
	</array>
</array>
</plist>
